*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}img{
    width: 300px;
}body{
    background-color: rgb(209, 0, 0);
    color: white;
}img{
    border-radius: 10px;
    height: 300px;
    width: 400px;
    object-fit: cover;
}h1{
    font-size: 60px;
}